body {
  font-family: sans-serif;
  color: #666;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 15px 5px;
}

nav *{
  margin: 0px 10px;
}

#creation-form{
  display: flex;
  flex-direction: column;
  border: solid rgb(138, 138, 138);
  background: rgb(203, 203, 203);
}

#list-container{
  display: flex;
  flex-direction: row;
  background: rgb(227, 188, 98);
  padding: 10px;
  flex-wrap: wrap;

  min-height: 70vh;
}


.todo-container{
  background: rgb(104, 162, 244);
  margin: 15px;
  width: 250px;
  height: 350px;
  position: relative;
  padding: 5px;
}

#edit-item {
  position: absolute;

  right: 5%;
  bottom: 3%;
}

#delete-item {
  color: whitesmoke;
  background-color: rgb(255, 0, 0);
}

#form-button-container {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}

#form-button-container * {
  width: 100%;
  border: solid black 1px;
}