<form action="/update-categories" method="post">
    <div id="categorylist-outercontainer">
        <button type="submit"><strong>Save Changes</strong></button>
        <div id="categorylist-innercontainer"></div>
        <button type="submit"><strong>Save Changes</strong></button>
    <div>
</form>

<%@categories.each do | category |%>
    <script type="text/javascript">
        var new_item = document.createElement('div');
        new_item.className = "categorylist-item";
        new_item.category_id = <%=category['category_id']%>;

        new_item.innerHTML = `
            <div class="categorylist-item-left">
                <span class="category-list-item-name"><input type="text" required value="<%=category['category_name']%>"></span>
            </div>
            <div class="categorylist-item-right">
                <span class="text-color-area">
                Text-color: <input type="color" value="<%=category['text_color']%>">
                </span>
                <span class="background-color-area">
                Background-color: <input type="color" value="<%=category['background_color']%>">
                </span>
            </div>
        `;
        
        console.log(new_item);

        document.querySelector('#categorylist-innercontainer').appendChild(new_item);
    </script>
<%end%>