<form action="/create-account" method="post">
    <span>Username: <input type="text" name="username" required></span>
    <span>Password: <input type="password" name="password" required></span>
    <button type="submit">Create Account</button>
</form>