<form action="/create-account" method="post">
    <span><label for="username">Username:</label> <input type="text" name="username" id="username" required></span>
    <span><label for="password">Password:</label> <input type="password" name="password" id="password" required></span>
    <button type="submit">Create Account</button>
</form>