<form action="/login" method="post">
    <span><label for="username">Username:</label> <input type="text" name="username" id="username" required></span>
    <span><label for="password">Password:</label> <input type="password" name="password" id="password" required></span>
    <button type="submit">Log In</button>
</form>
<br>
<span>New?</span>
<br>
<a href="\create-account">Create account</a>