<form action="/login" method="post">
    <span>Username: <input type="text" name="username" required></span>
    <span>Password: <input type="password" name="password" required></span>
    <button type="submit">Log In</button>
</form>
<br>
<span>New?</span>
<br>
<a href="\create-account">Create account</a>