<form action="/new" method="post">
    <div id="creation-form">
        <div><span>Title</span><input type="text" name="title"></div>
        <div><span>Description</span><input type="text" name="description"></div>
        <div><span>Deadline</span>
            <input id="deadline-switch" type="checkbox" name="has_deadline">
            <input id="deadline-field" type="datetime-local" name="deadline" min="<%= DateTime.now.to_s.split('T')[0] + "00:00"%>"></div>
        <div>
            <span>category</span>
            <button type="button" id="new-category">+</button>
            <select id="category_selection" name="category">
                <% @categories.each do | list |%>
                    <option><%= list['category'] %></option>
                <% end %>
            </select> 
        </div>
        <div><span>Importance</span><input type="range" value="3" min="1" max="5" step="1" name="importance"></div>

        <div id="form-button-container">
        <button type="submit"> NEW </button>
        </div>
    </div>
</form>

<script type="text/javascript" src="/js/new_category_button.js?<%=Time.now.to_i%>"></script>
<script type="text/javascript" src="/js/deadline_field_state.js"></script>